********************************************************************************
****************************** LLAMA_2_ROBOT_.ENV ******************************
********************************************************************************

# DEFAULT_CONFIG:
human_name = Human  #-- Start upper case, Default: Human
model_name = Wise-Llama  #-- Start upper case, Default: Wise-Llama
model_role = Wise Oracle  #-- Start Upper case, Default: Wise Oracle
scenario_location = on a mountain  #-- Start lower case, Default: on a mountain

# HIDDEN_CONFIG:
model_emotion = indifferent  #-- Start lower case, Default: indifferent
session_history = the conversation started  #-- Start lower case, Default: the conversation started